*{margin:0;padding:0;}

body{
    font-size:18px;
    font-family:"微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", SimHei, "\5B8B\4F53", simsun, sans-serif;
    width:100%;
    background-color: #23b4f9;
}
.wrapper{
    width:80%;
    height:710px;
    margin:0 auto;

}
.showBox{
    width:100%;
    height:70%;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;

}
.textForm{
    width:100%;
    height:30%;
    background-color: white;
    margin-top:5px;
    position:relative;

}
.textBox{
    width:98%;
    height:90%;
    outline: none;
    font-size:1.5rem;
    font-weight:600;
    position:absolute;
    bottom:0;
    right:0;
    margin:10px;
    opacity: 0.5;
}
.showBox ul{
    margin-bottom: 30px;
    list-style: none;
    padding:10px;
}
.showBox ul li{
    margin-bottom: 10px;
}
#send{
    padding:10px 30px;
    position:absolute;
    right:0;
    bottom:0;
    margin:15px;
    border:none;
    font-size:1rem;
    background-color:#23b4f9;
    color:white;
    cursor:pointer;
}